node_modules
packages/**/node_modules
packages/*/node_modules

.DS_Store
.tmp/
**/*.swp
*~

# EVN
.env
.env*

packages/**/lib
packages/constants/lib
packages/skale.js/lib
packages/utils/lib
packages/etherbase/lib

packages/**/.nyc_output

.nyc_output

**/*.tgz
